:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
}

:root { 
    --background-color: #ffffff; 
    --default-color: #272829; 
    --heading-color: #050d18; 
    --accent-color: #149ddd; 
    --contrast-color: #ffffff;
}  

:root {
    --nav-color: #a8a9b4;  
    --nav-hover-color: #ffffff; 
    --nav-dropdown-background-color: #ffffff; 
    --nav-dropdown-color: #212529; 
    --nav-dropdown-hover-color: #149ddd; 
}

:root {
    --header-background-color: #040b14;
    --header-color: #ffffff;
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

main{
    margin-left: 18.7rem;
}

.about,
.skills,
.resume,
.services,
.contact{
    margin-left: 1.3rem;
}

body{
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
}

a{
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

.header {
    --background-color: var(--header-background-color);
    --default-color: var(--header-color);
    --heading-color: var(--header-color);
    color: var(--default-color);
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 15px;
    width: 300px;
    transition: all ease-in-out 0.3s;
    overflow-y: auto;
    z-index: 0;
    border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.header .dp img {
    margin: 15px auto;
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 8px solid color-mix(in srgb, var(--default-color), transparent 85%);
}

.header .logo {
    line-height: 2;
    margin-bottom: 15px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: var(--heading-color);
    display: inline-flex;
    justify-content: center;
}

.social-links {
    padding-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .social-links a {
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: color-mix(in srgb, var(--default-color), transparent 90%);
    color: var(--default-color);
    margin: 0 5px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.header .social-links a:hover {
    color: var(--contrast-color);
    background: var(--accent-color);
}

.navmenu {
    padding: 0;
    z-index: 9997;
}

.navmenu ul{
    list-style: none;
    padding: 10px 0 20px 0;
    margin: 0;
}

.navmenu li{
    padding: 20px 10px;
}

.navmenu a,
.navmenu a:focus {
  color: var(--nav-color);
  padding: 15px 10px;
  font-family: var(--nav-font);
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
  transition: 0.2s;
  width: 100%;
}

.navmenu a i,
.navmenu a:focus i {
  font-size: 20px;
  margin-right: 10px;
}

.navmenu a:hover,
.navmenu a.active,
.navmenu a:focus{
    color: var(--nav-hover-color);
}

.navmenu a:hover i,
.navmenu a.active i,
.navmenu a:focus i {
  color: var(--accent-color);
}

.navmenu i{
    margin-right: 10px;
}

.footer {
    --background-color: color-mix(in srgb, var(--default-color), transparent 97%);
    color: var(--default-color);
    background-color: var(--background-color);
    font-size: 14px;
    padding: 50px;
    position: relative;
}
  
.footer .copyright p {
    text-align: center;
    margin-bottom: 0;
    margin-left: 20rem;
}
  
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  overflow: clip;
}

.section-title {
    padding-bottom: 60px;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--accent-color);
    left: 0;
    bottom: 0;
}

.section-title p {
    margin-bottom: 0;
}

.hero {
    --default-color: #ffffff;
    --background-color: #000000;
    --heading-color: #ffffff;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero:before {
    content: "";
    background: color-mix(in srgb, var(--background-color), transparent 70%);
    position: absolute;
    inset: 0;
    z-index: 2;
}
.hero .container {
    position: relative;
    z-index: 3;
}

.hero h2 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
}
  
.hero p {
  margin: 5px 0 0 0;
  font-size: 26px;
}

.hero p span {
  letter-spacing: 1px;
  border-bottom: 2px solid var(--accent-color);
}

.col-1 img{
    height: 300px;
    width: auto;
}

.row{
    display: flex;
}

.col-1{
    height: 100%;
    width: auto;
}

.col-2{
    width: 70%;
}

.col-3{
    width: 50%;
}

.col-3 i{
    margin-right: 10px;
    color: var(--accent-color);
}

.container-row{
    display: flex;
    margin-right: 20px;
}

.container-row li{
    list-style: none;
    padding: 10px 0;
}

.container{
    position: static;
}

.skills {
    --background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
}

.skills .progress {
    height: 60px;
    width: 50%;
    display: block;
    background: none;
    border-radius: 0;
}
  
.skills .progress .skill {
    color: var(--heading-color);
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: var(--heading-font);
}
  
.skills .progress .skill .val {
    float: inline-end;
    font-style: normal;
}
  
.skills .progress-bar-wrap {
    background: color-mix(in srgb, var(--default-color), transparent 90%);
    height: 10px;
}
  
.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: var(--accent-color);
}

.resume .resume-title {
    color: var(--heading-color);
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resume .resume-content{

}
  
.resume .resume-item {
    padding: 20px 20px 0 20px;
    margin-top: 2px;
    margin-left: 20px;
    border-left: 2px solid var(--accent-color);
    position: relative;
}
  
.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    margin-bottom: 10px;
}
  
.resume .resume-item h5 {
    font-size: 16px;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
  
.resume .resume-item ul {
    padding-left: 20px;
}
  
.resume .resume-item ul li {
    padding-bottom: 10px;
}
  
.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: var(--background-color);
    border: 2px solid var(--accent-color);
}

.services .row-2{
    display: flex;
}

.services .column-1 {
    position: relative;
    padding: 20px;
}
  
.services .column-1 .icon {
    background: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid var(--accent-color);
    margin-right: 20px;
}
  
.services .column-1 .icon i {
    color: var(--contrast-color);
    font-size: 24px;
    line-height: 0;
}
  
.services .column-1:hover .mod {
    background: var(--contrast-color);
    border: 1px solid var(--accent-color);
    transition: 0.5s;
}
  
.services .column-1:hover i {
    color: var(--accent-color);
    transition: 0.5s;
}

.services .mod{
    background: var(--accent-color);
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid var(--accent-color);
}

.services .mod:hover i{
    background: none;
}

.services i{
    color: var(--header-color);
    margin: 15px;
}

.services i:hover{
    color: var(--accent-color);
}

.services a{
    display: flex;
    align-items: center;
}
  
.services .column-1 .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}
  
.services .column-1 .title a {
    font-size: 23px;
    color: var(--heading-color);
}
  
.services .column-1 .title a:hover {
    color: var(--accent-color);
}
  
.services .column-1 .description {
    line-height: 24px;
    font-size: 14px;
    padding-bottom: 20px;
}

.services .column-1{
    margin-bottom: 10px;
    width: 75%;
}

.contact .info-wrap,
.column-3 {
    box-shadow: 0px 0px 18px color-mix(in srgb, var(--default-color), transparent 90%);
    padding: 30px;
}

.column-2{
    width: 50%;
}

.column-3{
    width: 50%;
}

.contact .info-item {
    margin-bottom: 40px;
}
  
.contact .info-item i {
    font-size: 20px;
    color: var(--accent-color);
    background: color-mix(in srgb, var(--accent-color), transparent 92%);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}
  
.contact .info-item h3 {
    font-size: 20px;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
  
.contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
}
  
.contact .info-item:hover i {
    background: var(--accent-color);
    color: var(--contrast-color);
}

.contact .row-2{
    display: flex;
}

.contact button{
    color: var(--contrast-color);
    background: var(--accent-color);
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    transition: 0.4s;
    margin: 30px 130px 0 130px;
}
